
.sidebarPanel {
  padding: 1rem;
  border-right: 1px solid #eeeeee;
  min-width: 250px;
}

.sidebarPanel nav {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-flow: column wrap;
}

.sidebarPanel nav a {
  gap: .5rem;
  color: #141414;
}

.sidebarPanel nav a:hover {
  color: #016dc6;
}